# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode=""
character-set-server=utf8

max_connections=32
tmp_table_size=768M
max_heap_table_size=768M
sort_buffer_size=2M
join_buffer_size=2M
key_buffer_size=16M
table_open_cache=6144
table_definition_cache=6144
query_cache_limit=2M
query_cache_size=128M
innodb_buffer_pool_size=2048M
innodb_buffer_pool_instances=2
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=2
transaction-isolation=READ-COMMITTED